*{
    margin: 0px;
    padding: 0px;
}



a{
    font-weight: bold;
    text-decoration: none;
    color: white;
    font-size: 20px;
    
}
.menu-menu-1-container ul{
    display: flex;
    justify-content: flex-end;
    height: 50px;
    margin-top: 0px;
    padding-top: 20px;
    padding-right: 90px;
    
}



.menu-menu-1-container ul li{
    list-style-type: none;
    display:inline;
    margin-right: 50px;

}


/* for 2ndpage */


.element{
    text-align: center;
    font-size: 2rem;
    margin-top: 50px;
}

.element p {
    font-size: 1.25rem;
    color: grey;
    line-height: 1.5;
}

.container{
  
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      gap: 10px;
      width: 100%;
      max-width: 1600px;
      
      margin: 10px;
      margin-bottom: 50px;
       
      
      
    }
    /* Responsive for smaller screens */
    @media (max-width: 992px) {
      .container {
        grid-template-columns: 1fr;
      }
    }

    @media (max-width: 600px) {
      .container {
        grid-template-columns: 1fr;
        
      }
    }
 


    .container img{
      width: 95%;          /* makes image scale with column */
      height: auto;         /* maintain aspect ratio */

    }
 
   



    .blog-content h2 {
      text-align: center;
      font-size: 2.5rem;
      margin-bottom: 10px;
      color: black;
    }

    .blog-content p {
      font-size: 1.25rem;
      color: grey;
      line-height: 1.5;
    }

